body {
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
}

p {
    font-family: "Audiowide", sans-serif;
    margin: 10px;
    font-size: 16px;
}

canvas {
    border: 2px dashed black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

canvas:focus {
    outline: none;
}

button {
    font-family: "Audiowide", sans-serif;
    color: black;
    font-size: 16px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    background-color: red;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

/*To disable the selection playing on mobile*/
button {
    -webkit-user-select: none; /* Disable text selection on Safari/iOS */
    -moz-user-select: none; /* Disable text selection on Firefox */
    -ms-user-select: none; /* Disable text selection on IE */
    user-select: none; /* Disable text selection on modern browsers */
    -webkit-tap-highlight-color: transparent; /* Disable blue highlight on touch */
}

body, p, canvas {
    -webkit-user-select: none; /* Disable text selection for other elements */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}